catboost_info
data
merged_data_with_region.csv
combined_동반자정보.csv
combined_방문지정보.csv
combined_사전소비내역.csv
combined_활동소비내역.csv
combined_숙박소비내역.csv
combined_여행(이동수단).csv
combined_동반자정보.csv
combined_여행객_Master.csv
combined_이동내역.csv
combined_이동수단소비내역.csv
combined_활동내역.csv
tc_sgg_시군구코드.csv
tc_sgg_시군구코드_converted.csv
tc_codeb_코드B.csv
tc_codea_코드A.csv
tn_poi_master_POIMaster.csv
merged_data.csv